/*base ellements*/
.flex
{
	display: flex;
}
.conteiner
{
	max-width: 1170px;
	margin: 0 auto;
	width: 100%;
}
.block
{
	display: block;
}

/*base ellements*/
/*header*/
.header-box
{
	justify-content: space-between;
	align-items: center;
}
.logo
{
	width: 70px;
}
.navigation
{
	line-height: 100px;
}
.nav-li
{
	margin-right: 20px;
	height: 85px;
	cursor: zoom-in;

}
.social-navigations
{
	line-height: 100px;
}
.soc-li
{
	margin-right: 20px;
}
.header-text
{
	font-size: 30px;
	font-family: title;
	cursor: zoom-in;
}
.nav-li:last-child
{
	background-color: orange;
}
.header-img
{
	width: 35px;
}
.you
{
	width: 40px;
}
.burger
{
	width: 40px;
	height: 40px;
    border: 1px solid black;
	margin: 20px 30px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}
.burger .devider
{
	width: 30px;
	height: 2px;
	background-color: black;
	margin: 8px auto;
	position: absolute;
}

.burger .devider:nth-child(1)
{
    transform: translate(-50%); 
}
.burger .devider:nth-child(1)
{
    top: 30%; 
    left: 50%;
}
.burger .devider:nth-child(2)
{
	top: 60%;
	left: 50%;
}
.burger .devider:nth-child(3)
{
	top: 90%;
	left: 50%;
}
/*header*/
/*banner*/
.home
{
	background-color: red;
	padding: 30px 0;
}
.text
{
	font-size: 25px;
	font-family: title;
	color: white;
	cursor: ew-resize;
}
/*banner*/
/*contact block*/
.contact
{
	text-align: center;
}
.back
{
	background-color: darkblue;
}
.left-block
{
	width: 365px;
}
.row
{
	margin-top: 30px;
}
.padding
{
	padding-left: 100px;
	padding-bottom: 30px;
	padding-right: 55px; 
	padding-top: 30px;  
}
.text1
{
	font-size: 20px;
	font-family: title;
	color: white;
}
.right-block
{
	padding-top: 30px;
	padding-left: 50px;
	padding-bottom: 20px;
	padding-right: 30px; 
}
.form
{
	flex-direction: column;
}
.form-group
{
	flex-direction: column;
	margin-top: 30px;
}
.form-group:first-child
{
	margin-top: 0;
}
.input
{
	width: 300px;
	height: 50px;
	margin-top: 10px;
	background-color: transparent;
	border: 1px solid white;
	font-size: 20px;
	color: white;
	padding-left: 40px;
	overflow: scroll;
}
.input::placeholder
{
	color: white;
	opacity: 0.5;
}
.input1
{
	height: 100px;
}
.button
{
	height: 48px;;
	width: 150px;
	margin-top: 30px;
	background-color: green;
	color: red;
	font-size: 30px;
	border: 2px solid darkblue;
    font-family: monospace;
}
/*contact block*/
/*share wrapper*/
.share-wrapper
{
	background-color: lightgrey;
}
.share-nav
{
	justify-content: flex-end;
	padding: 10px 0;
}
/*share wrapper*/
.footer
{
	padding: 20px 0;
	font-size: 12px;
	font-family: title; 
}
.fh
{
	justify-content: space-between;
}
/*share wrapper*/
@media(max-width: 1000px)
{
	.conteiner
	{
		padding-left: 20px;
		padding-right: 20px;
	}
	.navigation
	{
		display: none;
	}
}